
ClearBank.DeveloperTest.Common/obj/ClearBank.DeveloperTest.Common.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Common/obj/ClearBank.DeveloperTest.Common.csproj.nuget.g.props
ClearBank.DeveloperTest.Common/obj/ClearBank.DeveloperTest.Common.csproj.nuget.g.targets
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.assets.cache
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.GlobalUsings.g.cs
ClearBank.DeveloperTest.Common/obj/project.assets.json
ClearBank.DeveloperTest.Data/obj/ClearBank.DeveloperTest.Data.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Data/obj/ClearBank.DeveloperTest.Data.csproj.nuget.g.props
ClearBank.DeveloperTest.Data/obj/ClearBank.DeveloperTest.Data.csproj.nuget.g.targets
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.assets.cache
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.GlobalUsings.g.cs
ClearBank.DeveloperTest.Data/obj/project.assets.json
ClearBank.DeveloperTest.Domain/obj/ClearBank.DeveloperTest.Domain.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Domain/obj/ClearBank.DeveloperTest.Domain.csproj.nuget.g.props
ClearBank.DeveloperTest.Domain/obj/ClearBank.DeveloperTest.Domain.csproj.nuget.g.targets
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.assets.cache
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.GlobalUsings.g.cs
ClearBank.DeveloperTest.Domain/obj/project.assets.json
ClearBank.DeveloperTest.Tests/obj/ClearBank.DeveloperTest.Tests.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Tests/obj/ClearBank.DeveloperTest.Tests.csproj.nuget.g.props
ClearBank.DeveloperTest.Tests/obj/ClearBank.DeveloperTest.Tests.csproj.nuget.g.targets
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.assets.cache
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Tests/obj/project.assets.json
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.deps.json
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/bin/Debug/netcoreapp3.1/ClearBank.DeveloperTest.deps.json
ClearBank.DeveloperTest/bin/Debug/netcoreapp3.1/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/bin/Debug/netcoreapp3.1/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.csproj.nuget.dgspec.json
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.csproj.nuget.g.props
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.csproj.nuget.g.targets
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.Domain.Services.csproj.nuget.dgspec.json
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.Domain.Services.csproj.nuget.g.props
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.Domain.Services.csproj.nuget.g.targets
ClearBank.DeveloperTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.AssemblyInfo.cs
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.AssemblyInfoInputs.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.assets.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.AssemblyReference.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.CopyComplete
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.assets.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/obj/Debug/net6.0/ref/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/net6.0/refint/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.AssemblyInfo.cs
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.AssemblyInfoInputs.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.assets.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.AssemblyReference.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/obj/project.assets.json
