
ClearBank.DeveloperTest.Common/obj/ClearBank.DeveloperTest.Common.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Common/obj/ClearBank.DeveloperTest.Common.csproj.nuget.g.props
ClearBank.DeveloperTest.Common/obj/ClearBank.DeveloperTest.Common.csproj.nuget.g.targets
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.assets.cache
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.GlobalUsings.g.cs
ClearBank.DeveloperTest.Common/obj/project.assets.json
ClearBank.DeveloperTest.Data/obj/ClearBank.DeveloperTest.Data.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Data/obj/ClearBank.DeveloperTest.Data.csproj.nuget.g.props
ClearBank.DeveloperTest.Data/obj/ClearBank.DeveloperTest.Data.csproj.nuget.g.targets
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.assets.cache
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.GlobalUsings.g.cs
ClearBank.DeveloperTest.Data/obj/project.assets.json
ClearBank.DeveloperTest.Domain/obj/ClearBank.DeveloperTest.Domain.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Domain/obj/ClearBank.DeveloperTest.Domain.csproj.nuget.g.props
ClearBank.DeveloperTest.Domain/obj/ClearBank.DeveloperTest.Domain.csproj.nuget.g.targets
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.assets.cache
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.GlobalUsings.g.cs
ClearBank.DeveloperTest.Domain/obj/project.assets.json
ClearBank.DeveloperTest.Tests/obj/ClearBank.DeveloperTest.Tests.csproj.nuget.dgspec.json
ClearBank.DeveloperTest.Tests/obj/ClearBank.DeveloperTest.Tests.csproj.nuget.g.props
ClearBank.DeveloperTest.Tests/obj/ClearBank.DeveloperTest.Tests.csproj.nuget.g.targets
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.assets.cache
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest.Tests/obj/project.assets.json
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.deps.json
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/bin/Debug/netcoreapp3.1/ClearBank.DeveloperTest.deps.json
ClearBank.DeveloperTest/bin/Debug/netcoreapp3.1/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/bin/Debug/netcoreapp3.1/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.csproj.nuget.dgspec.json
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.csproj.nuget.g.props
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.csproj.nuget.g.targets
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.Domain.Services.csproj.nuget.dgspec.json
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.Domain.Services.csproj.nuget.g.props
ClearBank.DeveloperTest/obj/ClearBank.DeveloperTest.Domain.Services.csproj.nuget.g.targets
ClearBank.DeveloperTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.AssemblyInfo.cs
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.AssemblyInfoInputs.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.assets.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.AssemblyReference.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.CopyComplete
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.assets.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/obj/Debug/net6.0/ref/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/net6.0/refint/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.AssemblyInfo.cs
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.AssemblyInfoInputs.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.assets.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.AssemblyReference.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.BuildWithSkipAnalyzers
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.csproj.FileListAbsolute.txt
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.dll
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest/obj/Debug/netcoreapp3.1/ClearBank.DeveloperTest.pdb
ClearBank.DeveloperTest/obj/project.assets.json
.vs/ClearBank.DeveloperTest/v17/.suo
.vs/ClearBank.DeveloperTest/v17/TestStore/0/000.testlog
.vs/ClearBank.DeveloperTest/v17/TestStore/0/testlog.manifest
ClearBank.DeveloperTest.Common/bin/Debug/net6.0/ClearBank.DeveloperTest.Common.deps.json
ClearBank.DeveloperTest.Common/bin/Debug/net6.0/ClearBank.DeveloperTest.Common.dll
ClearBank.DeveloperTest.Common/bin/Debug/net6.0/ClearBank.DeveloperTest.Common.pdb
ClearBank.DeveloperTest.Common/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest.Common/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.pdb
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.AssemblyInfo.cs
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.AssemblyInfoInputs.cache
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.csproj.AssemblyReference.cache
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.csproj.CopyComplete
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.dll
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ClearBank.DeveloperTest.Common.pdb
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/ref/ClearBank.DeveloperTest.Common.dll
ClearBank.DeveloperTest.Common/obj/Debug/net6.0/refint/ClearBank.DeveloperTest.Common.dll
ClearBank.DeveloperTest.Common/obj/project.nuget.cache
ClearBank.DeveloperTest.Data/bin/Debug/net6.0/ClearBank.DeveloperTest.Data.deps.json
ClearBank.DeveloperTest.Data/bin/Debug/net6.0/ClearBank.DeveloperTest.Data.dll
ClearBank.DeveloperTest.Data/bin/Debug/net6.0/ClearBank.DeveloperTest.Data.pdb
ClearBank.DeveloperTest.Data/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest.Data/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.pdb
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.AssemblyInfo.cs
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.AssemblyInfoInputs.cache
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.csproj.AssemblyReference.cache
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.csproj.CopyComplete
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.dll
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ClearBank.DeveloperTest.Data.pdb
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/ref/ClearBank.DeveloperTest.Data.dll
ClearBank.DeveloperTest.Data/obj/Debug/net6.0/refint/ClearBank.DeveloperTest.Data.dll
ClearBank.DeveloperTest.Data/obj/project.nuget.cache
ClearBank.DeveloperTest.Domain/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.deps.json
ClearBank.DeveloperTest.Domain/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest.Domain/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.pdb
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.AssemblyInfo.cs
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.AssemblyInfoInputs.cache
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.csproj.AssemblyReference.cache
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.pdb
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/ref/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest.Domain/obj/Debug/net6.0/refint/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest.Domain/obj/project.nuget.cache
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Castle.Core.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Common.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Common.pdb
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Data.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Data.pdb
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.pdb
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.pdb
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Tests.deps.json
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Tests.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Tests.pdb
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ClearBank.DeveloperTest.Tests.runtimeconfig.json
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/FizzWare.NBuilder.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/FluentAssertions.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Moq.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/System.Diagnostics.EventLog.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/System.Drawing.Common.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/System.Security.Permissions.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/System.Windows.Extensions.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/testhost.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/testhost.exe
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/xunit.abstractions.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/xunit.assert.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/xunit.core.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/xunit.execution.dotnet.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.AssemblyInfo.cs
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.AssemblyInfoInputs.cache
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.csproj.AssemblyReference.cache
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.csproj.CopyComplete
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.dll
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.genruntimeconfig.cache
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ClearBank.DeveloperTest.Tests.pdb
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/ref/ClearBank.DeveloperTest.Tests.dll
ClearBank.DeveloperTest.Tests/obj/Debug/net6.0/refint/ClearBank.DeveloperTest.Tests.dll
ClearBank.DeveloperTest.Tests/obj/project.nuget.cache
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Common.dll
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Common.pdb
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Data.dll
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Data.pdb
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.dll
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.pdb
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.deps.json
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.dll
ClearBank.DeveloperTest/bin/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.pdb
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.AssemblyInfo.cs
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.AssemblyInfoInputs.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.csproj.AssemblyReference.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.csproj.CopyComplete
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.csproj.CoreCompileInputs.cache
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.dll
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.GeneratedMSBuildEditorConfig.editorconfig
ClearBank.DeveloperTest/obj/Debug/net6.0/ClearBank.DeveloperTest.Domain.Services.pdb
ClearBank.DeveloperTest/obj/Debug/net6.0/ref/ClearBank.DeveloperTest.Domain.Services.dll
ClearBank.DeveloperTest/obj/Debug/net6.0/refint/ClearBank.DeveloperTest.Domain.Services.dll
ClearBank.DeveloperTest/obj/project.nuget.cache
.vs/ClearBank.DeveloperTest/DesignTimeBuild/.dtbcache.v2
.vs/ClearBank.DeveloperTest/v17/.futdcache.v1
.vs/ClearBank.DeveloperTest/v17/TestStore/0/003.testlog
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/MediatR.Contracts.dll
ClearBank.DeveloperTest.Tests/bin/Debug/net6.0/MediatR.dll
